<template name="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		    <a class="navbar-brand" href="home">Ik wil varen</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active" id="chatNav"><a href="chat">chat</a></li>
			</ul>
		    <ul class="nav navbar-nav navbar-right">
		      	{{ loginButtons }}
		    </ul>
		</div>
	</div>
	<div class="page-header">
 		<h1>Ik wil varen!<small> powered by Meteor</small></h1> 
	</div>
</template>