<template name="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		    <a class="navbar-brand" href="home">Ik wil varen</a>
		</div>
		<div class="navbar-collapse collapse">
			{{#if currentUser}}
				<ul class="nav navbar-nav">
					<li class="active" id="openNav"><a href="open">open outings</a></li>
					<li class="inactive" id="ownNav"><a href="open">mijn outings</a></li>
				</ul>
			{{/if}}
		    <ul class="nav navbar-nav navbar-right">
		      	{{ loginButtons }}
		    </ul>
		</div>
	</div>
	<div id='alertss'></div>
</template>