<head>
	<title>Ik wil varen!</title>
</head>

<body>
	<div class="container">
		{{> header }}
		{{> hello}}
	</div>
</body>

<template name="hello">
	<div class="col-md-12">
		<p>hallo</p>
		<p>
			Deze site is bedoeld voor coaches, stuurtjes, ploegen en roeiers die op zoek zijn naar die ene persoon die nog nodig is om een boottraining mogelijk te maken.<br/>
			Op dit moment is deze site nog in ontwikkeling. Mocht je suggesties hebben kan je die sturen naar David Soff. 
		</p>
	</div>
	<div id="click">
		er is 0 keer geklikt.
	</div>
	<div class="col-6-md">
		<input type="button" class="btn btn-primary btn-block" value="Click" />
	</div>
</template>
